.start-ads {
    border-radius: 30px;
    background-color: $secondColor;
    color: #fff !important;
    margin-top: 5px !important;
    width: fit-content;
    i {
      border-radius: 50%;
      width: 22px;
      height: 22px;
      color: #fff;
      border: 2px solid #fff;
      text-align: center;
      padding-top: 1px;
      margin: 5px;
    }
  }