.search-form {
    overflow: hidden;
    .row {
        background-color: #fff;
        border-radius: 15px;
    }
    .form {
        .search {
            width: 45px;
            height: 45px;
            background-color: #0073ff;
            border-radius: 50%;
            text-align: center;
            color: #fff;
            line-height: 45px;
            margin-top: 0;
            border: none;
        }
    }

    .submit-container {
        line-height: 75px;
        .submit {
            padding: 10px;
            color: #fff;
            border-radius: 5px;
            background-color: $mainColor;
        }
    }
}
