.banner{
    margin-top: 15px;
    width: 100%;
    overflow: hidden;
    img{
        max-height: 75px;
        width: 100%;
    }
}

.google-ads{
    width: 100%;
    overflow: hidden;
    img{
        max-height: 75px;
        width: 100%;
    }
}