// Body
$body-bg: #f2f2f2;
$mainColor: rgb(0, 115, 255);
$secondColor: #27aa6d;
$textColor2: #212529;
$textColor1: #000000;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
