.contact {
    padding: 30px 0;

    .contact-hero{
        margin-bottom: 20px;
    }
    iframe{
        border-radius: 10px;
    }
    .form {
        background-color: #FFF;
        overflow: hidden;
        padding: 20px 10px 20px 0;
        border-radius: 10px;

        h4{
            text-align: center;
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 20px;
        }
        input {
            width: 100%;
            padding: 10px;
            text-align: center;
            border: 1px solid #ddd;
            margin: 5px;
            outline: none;
            box-shadow: none;
            border-radius: 5px;
        }
        input[type="submit"] {
            background-color: $mainColor;
        }
        .submit{
            background-color: $mainColor;
            color: #FFF;
        }
        textarea{
            width: 100%;
            padding: 10px;
            text-align: center;
            border: 1px solid #ddd;
            margin: 5px;
            outline: none;
            box-shadow: none;
            border-radius: 5px;
        }
    }
    .contact-footer {
        width: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
        height: 200px;
        margin: 30px 0;
        .overlay{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: .6);
            z-index: 2;
        }
        img{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        h4 {
            position: absolute;
            top: 20px;
            padding: 0 30px;
            text-align: center;
            z-index: 3;
            width: 100%;
            color: #FFF;
        }
        .download-btns {
            position: absolute;
            bottom: 20px;
            width: 100%;
            text-align: center;
            z-index: 3;
            .download {
                margin: 30px 4px 4px;
                width: 120px;
                height: 40px;
                padding-top: 0;
                line-height: 1;
                border-radius: 7px;
                position: relative;
                border: none;
                background-color: rgba($color: #000000, $alpha: .6);
                color: #FFF;
                i {
                    position: absolute;
                    top: 10px;
                    left: 5px;
                    font-size: 16px;
                }
                span {
                    font-size: 10px;
                    bottom: 10px;
                    margin-top: -14px;
                    margin-left: 10px;
                }
                strong {
                    font-size: 15px;
                    margin-bottom: 8px;
                    margin-left: 12px;
                }
            }
        }
    }

    .contact-links{
        .item{
            border-radius: 10px;
            background-color: #FFF;
            padding: 20px;

            text-align: center;
            .icon{
                font-size: 20px;
                color: $mainColor;
            }
                .title{
                    font-weight: bold;
                }
                .content{

                }
        }
    }
    .start-btn{
        width: 100%;
        text-align: center;
    .start-ads{
        padding: 12px 10px;
    }
}
    }
